

body{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 4rem;
}
main{
    display:flex;
    height:auto;
    width: 515px;
    background-color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}


.card-head{
    display: flex;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:none;
    
}
.left-header{
    display: flex;
    align-items: center;

}
.text-header{
    margin:0;
    padding: 10px;
}
.icons{
    display:flex;
    justify-content: space-between;
}
.left-bodyicons{
    padding:1rem;
}
.text-body{
    padding:1rem;
}

p{
width:auto
}
span{
    font-size:xx-large;
}
.card-img{
    width:100%;
    height: auto;
}
#htmlicon{
    padding:10px 0px 10px 10px;

}
#elipsisicon{
    padding:1rem ;
}
#cubeicon{
    padding:1rem ;
}
